#stacks_in_8_page0>.s3_row {
	margin: 0 -2px;
}

#stacks_in_8_page0>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_8_page0>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_8_page0>.s3_row>.s3_column {
	padding: 0 2px;
}







  


@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_8_page0>.s3_row  {
		margin: -2px 0;
	}
	#stacks_in_8_page0>.s3_row>.s3_column {
		padding: 2px 0;
		width:100%;
	}


}




  

#stacks_out_8_page0 {
	width: 70%;
}

#stacks_in_8_page0 {
	background-color: rgba(204, 204, 204, 1.00);
	margin: 10px 0px 10px 0px;
}

#stacks_in_17_page0 {
	margin: 15px 0px 0px 0px;
}
/*  */

/*  */

/*  */

/*  */
#embedIframestacks_in_11_page0 {
	width: 100%;
	height: 380px;
	border: none;
	outline: none;
	padding: 0;
	margin: 0;
	display: block;
}
/*  */

/*  */

/*  */

/*  */
#stacks_in_11_page0 {
	background-color: rgba(235, 238, 238, 1.00);
}

#stacks_in_19_page0 {
	margin: 15px 0px 0px 0px;
}
/*  */

/*  */

/*  */

/*  */
#embedIframestacks_in_12_page0 {
	width: 100%;
	height: 380px;
	border: none;
	outline: none;
	padding: 0;
	margin: 0;
	display: block;
}
/*  */

/*  */

/*  */

/*  */
#stacks_in_12_page0 {
	background-color: rgba(230, 234, 234, 1.00);
}
